@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --logo-font: "Teko", serif;
  --system-font: "Poppins", serif;
  --max-width: 515px;

  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --bg-color: rgb(255, 255, 255);
  --card-color: rgb(247, 248, 250);
  --font-color: rgb(29, 33, 36);
  display: none;
}

html[data-theme="light"] {
  --bg-color: rgb(255, 255, 255);
  --card-color: rgb(247, 248, 250);
  --font-color: rgb(29, 33, 36);
  display: none;
}

html[data-theme="dark"] {
  --bg-color: rgb(13, 16, 23);
  --card-color: rgb(20, 27, 35);
  --font-color: rgb(239, 246, 252);
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: rgb(13, 16, 23);
    --card-color: rgb(20, 27, 35);
    --font-color: rgb(239, 246, 252);
  }
}

body {
  font-family: var(--system-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--font-color);
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.2rem 0.35rem;
  color: var(--font-color);
}

button:is(:hover, :focus, .active) {
  background: black;
  color: white;
}

article {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  gap: 2rem;
}

article h1 {
  font-size: 3rem;
}
